@page "/counter"

<h1>Counter, user:@user</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private string user { get; set; }
    private int currentCount = 0;

    protected override async Task OnInitializedAsync()
    {
        user = await _authenticationManager.GetUser();
    }
    private void IncrementCount()
    {
        currentCount++;
    }
}
